@import "compass";
@import "compass/reset";
@import "susy";

// ========
// = Grid =
// ========

$total-columns  : 5;
$column-width   : 8em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

body {
  @include container;

  header {
    hgroup {
      @include span-columns( 3 );
    }
    aside {
      @include span-columns( 2 omega );
    }
  }
  section {
    > h3 {
      @include span-columns( 1 );
    }
    > p, > ul {
      @include span-columns( 4 omega );
    }
    &#skills > ul li {
      @include span-columns( 2 );
    }
  }

  @include at-breakpoint( 2 30em ){
    @include with-grid-settings( 2, 30em, $gutter-width, $grid-padding ) {
      @include container;
      header {
        hgroup, aside {
          @include span-columns( 2 );
        }
      }
      section {
        > h3 {
          @include span-columns( 2 );
        }
        > p, > ul {
          @include span-columns( 2 );
        }
        &#skills > ul li {
          @include span-columns( 1 );

          &:nth-child(even){
            @include span-columns( 1 omega );
          }
        }
      }

      h1, h2, h3 {
        text-align : center;
      }
      header a {
        text-align : center;
      }
      section {
        h3 {
          margin-bottom : 10px;
        }
        &#skills > ul li {
          text-align : center;
        }
      }
    };
  }
}

// ==========
// = Layout =
// ==========

body {
  padding-top    : 1em;
  padding-bottom : 3em;

  header, footer, section {
    @include clearfix;
    padding : 16px 0;
  }

  header aside {
    text-align : right;
  }

  section > ul > li {
    padding-bottom : 36px;
  }

  section#skills > ul li {
    padding-bottom : 8px;
  }
}


// ==========
// = Styles =
// ==========

html { -webkit-font-smoothing : antialiased; }
body, html {
  font-family : georgia;
  font-size   : 16px;
  line-height : 24px;
  color       : #2a2a2a;
}
a {
  @include link-colors( #4684d4, #145aa4 );
}
h1, h2, h3, h4, h5 {
  font-weight : bold;
}
h1 { font-size : 36px; line-height : 46px; }
h2 { font-size : 22px; line-height : 40px; font-weight : normal; font-style : italic; }
header aside {
  border-top : 1px dotted #a5a5a5;
  margin-top : 4px;
  padding-top : 10px;
}
header a {
  display : block;
}
section {
  border-top : 1px solid #a5a5a5;
}
.duration {
  float : right;
}
